<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/fields"></ion-back-button>
    </ion-buttons>
    <ion-title>Create</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateField()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="create-content">
  <form [formGroup]="newField" class="create-form">
    <ion-list class="create-list">
      <ion-item class="create-item">
        <app-custom-input
          label="Field Name"
          id="taskName"
          name="taskName"
          [(ngModel)]="fieldName"
          [required]="true"
        ></app-custom-input>
      </ion-item>
      <ion-item class="create-item">
        <ion-label class="create-label">Crop</ion-label>
        <ion-select class="create-select" formControlName="crop">
          <ion-select-option
            class="create-option"
            *ngFor="let crop of crops"
            [value]="crop.id"
          >
            {{ crop.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="create-item">
        <ion-label class="create-label">Location</ion-label>
        <ion-input
          class="create-input"
          type="text"
          formControlName="location"
        ></ion-input>
      </ion-item>
      <div class="irrigation-select" (click)="openIrrigationTypeModal()">
        <ion-item class="create-item">
          <ion-label class="create-label irrigation-label">Irrigation</ion-label>
          <ion-input
            class="create-input"
            type="text"
            placeholder="Select irrigation type"
            [value]="selectedIrrigationType?.name"
            readonly
            slot="end">
          </ion-input>
        </ion-item>
      </div>
    </ion-list>
  </form>
</ion-content>
