ion-toolbar {
  --background: #f8f8f8;
  --color: #333;
  --border-color: #dedede;
}

ion-title {
  font-weight: bold;
  font-size: 1.2rem;
}

ion-content {
  --background: #ffffff;
}

form {
  padding: 20px;
}

ion-item {
  --background: transparent;
  margin: 10px 0;
}

ion-label {
  font-size: 1rem;
  color: #555;
}

ion-input {
  --padding-start: 0;
}

ion-button {
  margin-top: 20px;
  --background: #007aff;
  --border-radius: 10px;
}
