<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fields</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToAddField()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let field of fields" (click)="navigateToFieldDetails(field)">
        <ion-card class="field-card">
          <ion-card-header>
            <ion-card-title>{{ field.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/icon/wheat-icon.png" alt="Wheat Icon" class="wheat-icon"/>
            <p>{{ field.crop.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
